<br>
<br>
<div class="contenedor">
    <form>
        <fieldset>
          <legend>Formulario de inscripcion al sistema</legend>
          
          <div>
            <label for="exampleInputEmail1" class="form-label mt-4">Nombre</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
            <small id="emailHelp" class="form-text text-muted">Cuidado con la ortografia
                .</small>   
          </div>
          <div>
            <label for="exampleInputEmail1" class="form-label mt-4">Apellido</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
            <small id="emailHelp" class="form-text text-muted">Comienza por el apellido paterno
                .</small>   
          </div>

          <div>
            <label for="exampleInputEmail1" class="form-label mt-4">Empresa/Institucion</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
            <small id="emailHelp" class="form-text text-muted">
                .</small>   
          </div>

          <div>
            <label for="exampleSelect1" class="form-label mt-4">Ambito de la empresa</label>
            <select class="form-select" id="exampleSelect1">
              <option>Educacion</option>
              <option>Politico</option>
              <option>Economico</option>
              <option>Tecnologico</option>
              <option>Legales</option>
              <option>Otro</option>
            </select>
          </div>

          <div>
            <label for="exampleInputEmail1" class="form-label mt-4">Cargo</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
            <small id="emailHelp" class="form-text text-muted">Trata de ser descriptivo
                .</small>   
          </div>

  
        
          <div>
            <label for="exampleInputEmail1" class="form-label mt-4">Nombre de usuario</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">Nombre con el que se identificara dentro del sistema 
                .</small>
          </div>

          <div>
            <label for="exampleInputPassword1" class="form-label mt-4">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" autocomplete="off">
            <small id="emailHelp" class="form-text text-muted">Procurar utilizar combinaciones alfanumericas 
                .</small>

          </div>

          <div>
            <label for="exampleInputPassword1" class="form-label mt-4">Repita contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" autocomplete="off">
            <small id="emailHelp" class="form-text text-muted">
                .</small>

          </div>

          <div>
            <label for="exampleInputEmail1" class="form-label mt-4">Correo electronico</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter correo">
            <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu correo electrónico con nadie más.
                .</small>
          </div>
          <div>
            <label for="formFile" class="form-label mt-4">Proporcionanos tu documentacion</label>
            <input class="form-control" type="file" id="formFile">
          </div>

          
          <div>
            <label for="exampleTextarea" class="form-label mt-4">Cualquier sugerencia o problema haznoslo saber</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
          
          <fieldset>
            <br>
            <br>
            <button type="submit" class="btn btn-primary">Enviar</button>
            <br>
            <br>




